<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>push</key>
        <dict>
                <key>token</key>
                <data>
                zOvcOEcZxyib822D7voGUX0c8rUY9sB9COkrTFd/wYs=
                </data>
                <key>keypair</key>
                <dict>
                        <key>cert</key>
                        <data>
                        MIICnjCCAgegAwIBAgIKA7pooLWXJOn6nTANBgkqhkiG9w0BAQUFADBaMQswCQYDVQQG
                        EwJVUzETMBEGA1UEChMKQXBwbGUgSW5jLjEVMBMGA1UECxMMQXBwbGUgaVBob25lMR8w
                        HQYDVQQDExZBcHBsZSBpUGhvbmUgRGV2aWNlIENBMB4XDTI1MDgyMjIwMjIzNFoXDTI2
                        MDgyMjIwMjczNFowLzEtMCsGA1UEAxYkRjM5M0REODAtMjM0Qy00Mzk3LUI0RTYtRTg0
                        QkMxMUVCRjMwMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQC4iILexiukuW1bC6GF
                        A4WTf7vVd8AUXwJYgvIb/1VWllSlQhul+/wVhOBKCwGRLp5rnErRsJ8GLrL86bzE9YAV
                        Fj7OxF1s8K9jH9FbVlUPx7X7G1MpSBS2v2J6ss9Xu+775jlm3/J4aKIvLaH3kRzNxmpG
                        r33ZAFQKnN0868f3jwIDAQABo4GVMIGSMB8GA1UdIwQYMBaAFLL+ISNEhpVqedWBJo5z
                        ENinTI50MB0GA1UdDgQWBBSWsS6Z0bqr3Zx8lSUs0Z5/e51XIzAMBgNVHRMBAf8EAjAA
                        MA4GA1UdDwEB/wQEAwIFoDAgBgNVHSUBAf8EFjAUBggrBgEFBQcDAQYIKwYBBQUHAwIw
                        EAYKKoZIhvdjZAYKBAQCBQAwDQYJKoZIhvcNAQEFBQADgYEAFIFnFpm0V9V8ZtYS3RNS
                        u+4vQJV6vwWrqsFAF5yVAVzF2o60qtR33aYfbyICX8ZqAkBUOy0JudqSJY/bhGmcm/7+
                        TmFNhTOnE/46BfjIIWX/NyxeE5VlvuR5zZQYL6YCI9TFch3KCtUvFbV4lufZ68KNzURs
                        xrSE7GUBRy4byQ4=
                        </data>
                        <key>private</key>
                        <data>
                        MIICXAIBAAKBgQC4iILexiukuW1bC6GFA4WTf7vVd8AUXwJYgvIb/1VWllSlQhul+/wV
                        hOBKCwGRLp5rnErRsJ8GLrL86bzE9YAVFj7OxF1s8K9jH9FbVlUPx7X7G1MpSBS2v2J6
                        ss9Xu+775jlm3/J4aKIvLaH3kRzNxmpGr33ZAFQKnN0868f3jwIDAQABAoGAWCYNrfEo
                        I/XXwSgbLfjys/TOezhK7vA7pKBYmvsrfsMtCAw+PNnUH0tsALKlOv7z+h+ctfIS5Ncl
                        9R6KZ+OGHLzbeLfRfzOoqPQxu2sjIa44V3nHbofgofU6MIuFojizh2ntaevEPx4Wq6iR
                        A5a308YDug5pN4+lTlaB9Q2UZgECQQDfTGA5bfzZplGD5v2uKCLzYPVCFbphDlQXKXIt
                        TlUmEc4oR+p3fHHNCeDgCsX7G0zf0by1FPnBLHsF2de1PTgPAkEA047NcD4g15Bh64IX
                        bDslonM7geHT+ucZpqKazNumX/ow4vJ8HtCCVAt+eVFK31yHm4P7BUqduQXJ4Sm7/q3I
                        gQJAUvjuSGi2K6nBYGHUoYIIeqbse0HXn3jThkfARVV2Dk9Pa2hNl1iGcMna5WUba9MZ
                        HZGxrRe+NilxDRuFK7MzwQJARrHVnMhmGSK6VgSm5xfsv5haLlDUkWdgfvqfWA2eTzw/
                        0dbN+04Z/xPIM6oipvk4p5M28tG4WvfAOmnD1JsmAQJBAKJ7eK+STCo6mz6mz62KRqnA
                        dfr9ioltEYwtrSkHOmjmrK3GE9ZNKWOLo66/Q7ykdBC3r6mFpgWy0sPwlv/KojM=
                        </data>
                </dict>
        </dict>
        <key>identity</key>
        <dict>
                <key>legacy</key>
                <dict>
                        <key>signing_key</key>
                        <data>
                        MHcCAQEEIHAyh766z2dQr18kJfM0fH1qi54pdUih7abDqUgVNtp/oAoGCCqGSM49AwEH
                        oUQDQgAEuGD+sAfVhdH0PiChyTVcPXUOS+doiE/IeP5qMT/f/g4maNlmgDxYdu2Bp1gN
                        WpGYyZF+gOiwnDUqEFHSPzDDVQ==
                        </data>
                        <key>encryption_key</key>
                        <data>
                        MIIC7QIBAAKBoQDt53o7b3ezw4pqz8Ch5iEBBEdfqhNz2T2r7NaAodx+VlE2kl/PCiCR
                        fOqw1wgQEPQLrH1c7Zg8DdxbzzZXNRYymDv4TV0xDJ2xkqy9pFChpIEhXOCivtx1YPZG
                        JV3GR9KJOwcsHGYEqBuhFKE1dhqynM+Xq/Hk/08GfKGvusNmt4i+tGD54XEBIYaK5NGE
                        PX2BR8McSQC8Tg8/eoqK6dkJAgMBAAECgaAlS56L5sObONJgQEVwnAUchbEyvBTkmm/i
                        nfRaogVRAPMmXPgMGwhUBoM8SdmHu0Cm+9mDUfQFph6fffKE5VuffuIX4Pj1EYc/KUFP
                        UY0aacQw1Loy3Nw/mljNPkTg97lAs/3CcekbxPS79xiIRuaoX/yAHN2ows6a5cGTI231
                        hgf7+ZFAaki8fFrxDq6LQpJO0EsRsW9t/kU/Crf97OMJAlEA/0SC1TlNPS3s88wkRb48
                        mdkCZMkaH59Ow3/MjW0nd7UfiJGCQyZshJ2zSiWgXxA14dp2aGTHN1+phvKIcJjx8qeN
                        fjvGXip4ILDhzLs9pzsCUQDuljacik7o34iICxiDWBzoPqrLMLvrdLJJTmLTdjGo1sB7
                        f1OMnfhRxGxWxQhGUFPEPnQpEmXlJFtbmrZjwtn68ZVYNo/c8K2iehDRIYdkiwJRAL9N
                        vetEPWF7OJhhRlHKRypZWxTjLaPDRUj4Tvkyc6Cf6dj0i7X9ZthgQ0xvNGfqAyeXDKQh
                        2rbiB2+t9ZjE1pYvAbg33esWUt7VEPPY41SfAlEA4u/smC+SaT0d/9EWCvDH5jyddlIv
                        nQHOB55QsDUPfTpvschlry4fIZ+FMW+OtFr5ooOJN/vxAej4IQTjEbcoYeJinJqhcpVX
                        g2E6F8Idp4sCUAZTLgXj/mPbd82eAewdydpGsoDHyaqGFA4rRmT2h3xPItaeOE9yh+y8
                        QhcJi3bgBF+hVMCsFiIGOEs4LSyAjRWuyEPNbJyQ0hWx5saeTNeY
                        </data>
                </dict>
                <key>device_key</key>
                <data>
                MHcCAQEEICE9wajhrDnt4GxIRYi5Ak7nXbu/xYhVpuvz31OAo7jhoAoGCCqGSM49AwEH
                oUQDQgAEiIOxyjRrpV8X2suoNXJbph8zRpVxoY6HmRZ/sHi9sas+bpnmcv5stVkLVqc4
                hqORu/VUIhVIKlyqFnit3kaaoA==
                </data>
                <key>pre_key</key>
                <data>
                MHcCAQEEIMle83VAXb3BURVwC2x4mbGnTxC1/9n8+0CImCEwaVYnoAoGCCqGSM49AwEH
                oUQDQgAEWtHZYUSa+W9KgG/XetUuHunCAT55+JU7WOu1LkeWgj96CnSc80QqS61TJjwm
                mRmiBkUOUrar1o996dMd7fCwXQ==
                </data>
	</dict>
	<key>os_config</key>
	<dict>
		<key>type</key>
		<string>MacOS</string>
		<key>inner</key>
		<dict>
			<key>product_name</key>
			<string></string>
			<key>io_mac_address</key>
			<data>
			q83vq83v
			</data>
			<key>platform_serial_number</key>
			<string></string>
			<key>platform_uuid</key>
			<string></string>
			<key>root_disk_uuid</key>
			<string></string>
			<key>board_id</key>
			<string></string>
			<key>os_build_num</key>
			<string></string>
			<key>platform_serial_number_enc</key>
			<data>
			</data>
			<key>platform_uuid_enc</key>
			<data>
			</data>
			<key>root_disk_uuid_enc</key>
			<data>
			</data>
			<key>rom</key>
			<data>
			</data>
			<key>rom_enc</key>
			<data>
			</data>
			<key>mlb</key>
			<string></string>
			<key>mlb_enc</key>
			<data>
			</data>
		</dict>
		<key>version</key>
		<string>13.6.4</string>
		<key>protocol_version</key>
		<integer>1660</integer>
		<key>device_id</key>
		<string>F6DBB054-F2DF-578F-998E-325F18A4B74F</string>
		<key>icloud_ua</key>
		<string>com.apple.iCloudHelper/282 CFNetwork/1408.0.4 Darwin/22.5.0</string>
		<key>aoskit_version</key>
		<string>com.apple.AOSKit/282 (com.apple.accountsd/113)</string>
	</dict>
</dict>
