<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
        <dict>
                <key>auth_keypair</key>
                <dict>
                        <key>cert</key>
                        <data>
                        MIIIKTCCBxGgAwIBAgIRAIkRTrZ/lhHw//////////8wDQYJKoZIhvcNAQEFBQAwbjEL
                        MAkGA1UEBhMCVVMxEzARBgNVBAoMCkFwcGxlIEluYy4xEjAQBgNVBAsMCUFwcGxlIElE
                        UzEOMAwGA1UEDwwFZHMtaWQxJjAkBgNVBAMMHUFwcGxlIElEUyBEUy1JRCBSZWFsbSBD
                        QSAtIFIxMB4XDTI1MDgyMjIwMjgxNloXDTM1MDgyMDIwMjgxNlowXDELMAkGA1UEBhMC
                        VVMxEzARBgNVBAoMCkFwcGxlIEluYy4xCTAHBgNVBAsMADEOMAwGA1UEDwwFZHMtaWQx
                        HTAbBgoJkiaJk/IsZAEBDA1EOjIxNjM1ODM2MDEyMIIBIjANBgkqhkiG9w0BAQEFAAOC
                        AQ8AMIIBCgKCAQEA8qjC5WwheZ1bba8wP8C3CFXAEskxoeT6L4zZdzT9y5mTOv5+QgsS
                        DgJr2fo/PHkadu1td9qXZJjzoeyOzrxAN3Dmc//w74q1lpJYu2MIZ/YZkNjRQ7qujK4V
                        wOomlofylcBrgQc84+PYbZMk4c2hwR8UkpkMWS/aMO7q3tjtH/6Fc/S8IOkc5J5RBa4s
                        4bIAuoPDxsnbuC9XmkscowtjFd3obta54CxPXF9ImUKdDDs9++PPY/+9plPosGi+cscv
                        j50WKeiKrqWtYf6PIx/Qzqls0RvH2yRGmPp8gTX6TJX74pltwnGJE5fEDvaLbqQxkWDt
                        axx32lhGS/iNPtFXAwIDAQABo4IE0jCCBM4wggRKBgNVHREEggRBMIIEPaAgBgoqhkiG
                        92NkBgQEAxIAAwAAAAEAAAAAAAAGaAAAAACgggQXBgoqhkiG92NkBgQHA4IEBwBGVVNQ
                        ACfD4kjGrDQ7T/92lgt2SSh89b46RNLGaaHzsiChYnMhw47ADAiOMBIWq8ZHqYx8ywel
                        Knqxfi1D9b/faCgle8t/e0gKdNes8eTIYXYaIYt+CF72vNcZN5OwBXr57lOCRWDqk2Yu
                        e0MvsoPJcYkw2+IYyhngpDLePGaDOyvxNhKzYDMZVLsS9hPMVCv3MCweIr6GROoe16Tl
                        veIUeCwcGpIgvSI36cIblQbB79TRr1lMnikjHQN23N4yXqtIp6k8yaCt9cbQABJPXXVB
                        hczrltuW3lAyst1G/NbIdeBQk1TwcGyQSpHHOv0XHQhZG4B4rS9jubXskuxK0hFbU2a1
                        mImmcWFwdQxbHNuCBW7OMFYeGQhZJqg1Zzyf3GllTgwYZkdJZlMoXTWLKnqmb34CqZfl
                        fxoTtpd95lZ/CASzhfY9MWXv0yqAk+As5Cet5eKR6HNQ7Es2YeTEDO9yFt+qTT9GaFny
                        kmPyE3Q04FM/LPPdM1Pbrexl6trwBTbA1ZyTQ6M6g9Xlc4ROi+wQI2N6RJDxBe3GSmsV
                        CNZWHfD6qdcYSQnzdBBANL/sDs+qbQ3faek2n7f4J3LwEjSbecVJQvfwCdTanVVcKmvA
                        xYVqLTYHL9FPm7HW6I5GaF1gQutFGiofgd2ZOQ51pWYU+U4hs5DlOqCmKZv2WyAEgOqa
                        dLu+19CSGztuRV+UOJzaDhyGl0FIJWR5P51Y7O6lcRkV3UAN/lTHS3MEFHayaoYqzhSN
                        GKgYENqjRWCLIB8qoR6suON3p4jRCccSq7fLNBOp56pcOtHu2z0FiOy1dKOTEO3fJq3a
                        /2pPHE7BiecD+I9svU+WILy/UL25RtCmavHDgBlGW7twpk3IrlANtWhNVwPq2SivdPfe
                        XKelUW7I9uRl/1Wwi/jOqHIP9JdmPnU6TKMN409Ibme81QNbeiIeuQ0c49/I464pPXbt
                        kR9pMe+pSyzlkIZE98jKWWCrKlK4OZRi9daITld595gZfHxxkwlrrisQrGuXBl1SxAze
                        0BExFDHnE30EUi+NbvCEcH2DcxiOCQDCUidn6YbZYiPJvWiYetygiEFE5aHwers4WJ5Q
                        8hXITUf7yWF3m1mUsicWE5U9izP3XV5cO83aofseOB53DdZW4jVG7a5KHAYdjFp8u4Ij
                        woBxiow8ursM8iY9CVV0CCV+GKZeIZsW3IsapY46HZ8dyEiXtbP0RHWGscLdLUs1OaRK
                        YwJnoW+fgz3MUxoudf5gPW/6rlOGRXZjFfrwsyrA1FUGF8LKDVaurzsY882gb8qrAbP3
                        tg1LiokhctT1YfdE9tFECwkoqrur0rV2cG9NVGCk2DdRA47BQWv8ZOJhIjhG7QdfetOU
                        gQE+6vGIMB8GA1UdIwQYMBaAFITTbIZYMHdiREysh4kURPIcsTtjMB0GA1UdDgQWBBRL
                        1qxtpsvTggc7BnuczC9ZagOCIzAMBgNVHRMBAf8EAjAAMA4GA1UdDwEB/wQEAwID+DAg
                        BgNVHSUBAf8EFjAUBggrBgEFBQcDAQYIKwYBBQUHAwIwDQYJKoZIhvcNAQEFBQADggEB
                        AAI0azVy+u6oVxTm59gbs8rMXfUrA3L6dZ/MX+N8BLJRrLqYkJL1UWDGwSOq3ZymiAMT
                        T+kbtkMAvh1Mr9/+YzjfXYD78BvB8zRj5fXwpKS+bckMPrusU8emhLRe+omXDdRqFXYb
                        roDF0AsbTUmyNcnzWogtn1ppEOux0wQY5M3H5vjR0NSJKQPWQZUoDQP9fDDryTUVCdns
                        QmtfbhDdqyVfYTu1GwevaTi+rru94jhalDNEc8Rk4CbhQ3dLrmt24w573SVrPKjuwY8O
                        COVB6gcqjvVquHWE8OmZtCqLDRWDkIe39f/PEVc5GEAE6NB4O/zadn6GN6KQS0XhG0k+
                        ANk=
                        </data>
                        <key>private</key>
                        <data>
                        MIIEogIBAAKCAQEA8qjC5WwheZ1bba8wP8C3CFXAEskxoeT6L4zZdzT9y5mTOv5+QgsS
                        DgJr2fo/PHkadu1td9qXZJjzoeyOzrxAN3Dmc//w74q1lpJYu2MIZ/YZkNjRQ7qujK4V
                        wOomlofylcBrgQc84+PYbZMk4c2hwR8UkpkMWS/aMO7q3tjtH/6Fc/S8IOkc5J5RBa4s
                        4bIAuoPDxsnbuC9XmkscowtjFd3obta54CxPXF9ImUKdDDs9++PPY/+9plPosGi+cscv
                        j50WKeiKrqWtYf6PIx/Qzqls0RvH2yRGmPp8gTX6TJX74pltwnGJE5fEDvaLbqQxkWDt
                        axx32lhGS/iNPtFXAwIDAQABAoIBADSCQ0ZM60N7Qw0Nk0XAaHrzv0/xXH2ZZHAErQwo
                        GeFEVsE1z9FvvtTsPjVZevSVih4BC6abVRZOKK45178xqj20/xFL6XGUVO4DthK6f9er
                        P+YBnOroixvjEc8AfCAnw90W2cx+afUwWSWA6UK5cg6tsJB2cN8dxTvAf2+AhnNc/tqv
                        CWxbVYVPFiMPTHnI9tu4SV1PEOOaRfooLWMLy/yB6DyIKFvuWfhdh/mUkkA5WdlEPTm8
                        mWzQOp6K7iJGpyqcEbQs+jWzCcRbwAFQuePcqJ3Cnw5k2x3ew9d9JEULWV166P1813wA
                        YcFfIaWB2FXAvF0nrksCYkPLK5a2/BkCgYEA+cfrJ05TlqSnG9uGMeUTnNgQCkQJPD4O
                        /T4wkwPykmnS2RUxnesBQy5XpQKu9AflK+crffP/qhO48VG8is6Fu8/21rjKCsozY+pn
                        6frLicTLRoTLgZdadRPPiXwFzfTnX5AF3peJ9EDo5KZhWDmd09ww9/hlQ8DquXUWIkGm
                        q6kCgYEA+LNzGb00y/Hhkt5LjPXSxgmMpLtGBXdOsLF3oRyZFK9wV/SFdSGkyjlbdLS4
                        52Xy6VFvbPCO/R4yPZqhZQSuv0Nb+j7OSfpSEwi95FimPxpt55Q32pYRzKIUZh9M3JiH
                        1lWxwqAyz++hotvMvFfiAPcn7HXYx9S2A4IK7ZOweMsCgYAf9S0oBUR6lKxwywB7Z8S/
                        n4FF3viThZkjW46ZcLrbcsCwV57WhpfNwaMjEJnTzSLMIDKXVd2TJBzYe021MME5i10Y
                        keH/yWkT0ozjCdx6zvv3FMx40yWWrycxfvW7KSdlOacWmKrk3l0ty//Oaui/j3+Qam6C
                        Ya9mdQ2U6nNpqQKBgH1xBf1VkevMdRq/RRw0YbvB1U7Bpu/a3bYBzXVWF2B3nRLAIxCR
                        h6z4gUi8XwdYRM2qZaltLLI/KNgpxn5Nfla6gwoV47csq3kuT5l9nVz217iW6hU23IN6
                        vQ9Fel9KEDnrv12LsBVxqPWcKAhXy4bxIxIB3vXsNGJQlXJ/q+NBAoGALdk/QrMI7LwX
                        bMUQckUAMim9TIUJlKIw6oBDYCSFWmzjB7Spvbw6nnPy4j4D/zBGA3DzYSmazR+svmQ0
                        F3N8oO6vP/KtKum1AEnR+bA6RyDJP9k5dSrbmLj+9qkH0BcAqgEo3eUivimzCeD1XQ+E
                        PdarfCnTsfxXDqVt/2HWYOU=
                        </data>
                </dict>
                <key>user_id</key>
                <string>D:21635836012</string>
                <key>registration</key>
                <dict>
                        <key>com.apple.madrid</key>
                        <dict>
                                <key>id_keypair</key>
                                <dict>
                                        <key>cert</key>
                                        <data>
                                        MIIHKjCCBhKgAwIBAgIRAIqrKGl/lhHwE4CWf3+f/QMwDQYJKoZIhvcNAQEFBQAwbjEL
                                        MAkGA1UEBhMCVVMxEzARBgNVBAoMCkFwcGxlIEluYy4xEjAQBgNVBAsMCUFwcGxlIElE
                                        UzERMA8GA1UEDwwIaWRlbnRpdHkxIzAhBgNVBAMMGkFwcGxlIElEUyBJZGVudGl0eSBD
                                        QSAtIFIxMB4XDTI1MDgyMjIwMjgxNloXDTI1MTAwNjIwMjgxOVowgdsxCzAJBgNVBAYT
                                        AlVTMRMwEQYDVQQKDApBcHBsZSBJbmMuMRIwEAYDVQQLDAlNZXNzZW5nZXIxDjAMBgNV
                                        BA8MBWRzLWlkMR0wGwYKCZImiZPyLGQBAQwNRDoyMTYzNTgzNjAxMjF0MHIGA1UEBRNr
                                        YjoyRTVEN0I1QjQ5RkU1RTIzQjhGRjNCNDNDRTM5Rjk2OTkzNTgyMUZCL0NDRUJEQzM4
                                        NDcxOUM3Mjg5QkYzNkQ4M0VFRkEwNjUxN0QxQ0YyQjUxOEY2QzA3RDA4RTkyQjRDNTc3
                                        RkMxOEIwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDyqMLlbCF5nVttrzA/
                                        wLcIVcASyTGh5PovjNl3NP3LmZM6/n5CCxIOAmvZ+j88eRp27W132pdkmPOh7I7OvEA3
                                        cOZz//DvirWWkli7Ywhn9hmQ2NFDuq6MrhXA6iaWh/KVwGuBBzzj49htkyThzaHBHxSS
                                        mQxZL9ow7ure2O0f/oVz9Lwg6RzknlEFrizhsgC6g8PGydu4L1eaSxyjC2MV3ehu1rng
                                        LE9cX0iZQp0MOz37489j/72mU+iwaL5yxy+PnRYp6Iqupa1h/o8jH9DOqWzRG8fbJEaY
                                        +nyBNfpMlfvimW3CcYkTl8QO9otupDGRYO1rHHfaWEZL+I0+0VcDAgMBAAGjggNTMIID
                                        TzCCAssGA1UdEQSCAsIwggK+hidtYWlsdG86amVycnlsYW5kZ3JlZW5AY29wcGVyLmpq
                                        dGVjaC5kZXaGH21haWx0bzpjb29wZXJAY29wcGVyLmpqdGVjaC5kZXagLwYKKoZIhvdj
                                        ZAYEBgMhAMzr3DhHGccom/Ntg+76BlF9HPK1GPbAfQjpK0xXf8GLoCAGCiqGSIb3Y2QG
                                        BAgDEgAAiqsoaX+WEfATgJZ/f5/9A6BcBgoqhkiG92NkBgQEA04AAwAAAAYAAAAEAAAA
                                        AQAAABEAAAAAAAAGaAAAAAAAAAB4AAAGaAAAAAAAAACBAAAGaAAAAAAAAAB6AAAGaAAA
                                        AAAAAAB9AAAGaAAAAACgggG/BgoqhkiG92NkBgQHA4IBrwBGVVNQADPY7CzGrDQ7T/92
                                        lgt2SSgY7m8uNV3N8Yd4Wt+3eRnIz2oQxI37wkmOf8E42HD76r+6VVItMSmE9KLW7zxR
                                        BhKDW+RueplNWrC/rj2B0ElE731uxevngryHSsuAFr9DnuPt6TPV56keGWYkqd1rFxTC
                                        AQn+uGjuQ8pOMDSh1rVhBIK6pDj31wJadB+XDDVFfKi92wjRUSArSyFSaRHuBLwfqIrK
                                        R4lDh770tmHWoPDPO6QU1eV9jP5dNX8v83Fp0SeDKVTpJ7uNu+ldL67BS7d0OjcghSgD
                                        UFd6pG2EjtRn+WyzgqqMDuKjQYAkxXTJxER70InJS0D+kmcC9SQZz4gvI8y+3U8nNibI
                                        QYOMf+/AIUKdQGO1yG/px2F40fon4MrPBi40rBRcA8LmokuZKpDf4YMlFsuiok2yE4Ga
                                        d6kY6AyU+wMrglTCAmmutXMfnrTB/6GqHGFEtpIu4FvZ2bAK4CvQzCR6N/7AmwvOjXqA
                                        TWTSy9pSgBDoNRrEACrqOicU186AGQ+Qej+n7eiobb0yvyEH6AdDjEqVDdNC+HMFbmN8
                                        bCJeDLWcMB8GA1UdIwQYMBaAFMZ7ab5JwEEOwMirMjI45D+RQIvaMB0GA1UdDgQWBBRL
                                        1qxtpsvTggc7BnuczC9ZagOCIzAMBgNVHRMBAf8EAjAAMA4GA1UdDwEB/wQEAwID+DAg
                                        BgNVHSUBAf8EFjAUBggrBgEFBQcDAQYIKwYBBQUHAwIwDQYJKoZIhvcNAQEFBQADggEB
                                        AH/mPjh0MmC9laOfJAfPFs1AMYXpEb6CT0xMsKlcxHHbwo2en/VcMMPLeuTRS3/8U1i0
                                        QpvDrnDNX3oS5hpAuSD+IFgp+Wzvdvb1FdcEJEP/HUJ7R8FLzgqqB9gct3WGF4Wy/xD4
                                        U0LUoKKkkmbxOBHHy0rYb6ETEn0tbP4Auz63z5mDnDkexCJBjiGYZB3NoZOjbEO0Cqmp
                                        g13yQeh8FpJooFuVhCE2rCBgiaUQoO5Kwxe5F8IRCIgEWpsK0A83BWWUBn/x39OF82nP
                                        NR+sJzHcnzg7MPcspNgAwEK3gII1JsrjnayhGbs8A54tJOhxA95hh8g3h6ZRVS1IhfOB
                                        NGM=
                                        </data>
                                        <key>private</key>
                                        <data>
                                        MIIEogIBAAKCAQEA8qjC5WwheZ1bba8wP8C3CFXAEskxoeT6L4zZdzT9y5mTOv5+QgsS
                                        DgJr2fo/PHkadu1td9qXZJjzoeyOzrxAN3Dmc//w74q1lpJYu2MIZ/YZkNjRQ7qujK4V
                                        wOomlofylcBrgQc84+PYbZMk4c2hwR8UkpkMWS/aMO7q3tjtH/6Fc/S8IOkc5J5RBa4s
                                        4bIAuoPDxsnbuC9XmkscowtjFd3obta54CxPXF9ImUKdDDs9++PPY/+9plPosGi+cscv
                                        j50WKeiKrqWtYf6PIx/Qzqls0RvH2yRGmPp8gTX6TJX74pltwnGJE5fEDvaLbqQxkWDt
                                        axx32lhGS/iNPtFXAwIDAQABAoIBADSCQ0ZM60N7Qw0Nk0XAaHrzv0/xXH2ZZHAErQwo
                                        GeFEVsE1z9FvvtTsPjVZevSVih4BC6abVRZOKK45178xqj20/xFL6XGUVO4DthK6f9er
                                        P+YBnOroixvjEc8AfCAnw90W2cx+afUwWSWA6UK5cg6tsJB2cN8dxTvAf2+AhnNc/tqv
                                        CWxbVYVPFiMPTHnI9tu4SV1PEOOaRfooLWMLy/yB6DyIKFvuWfhdh/mUkkA5WdlEPTm8
                                        mWzQOp6K7iJGpyqcEbQs+jWzCcRbwAFQuePcqJ3Cnw5k2x3ew9d9JEULWV166P1813wA
                                        YcFfIaWB2FXAvF0nrksCYkPLK5a2/BkCgYEA+cfrJ05TlqSnG9uGMeUTnNgQCkQJPD4O
                                        /T4wkwPykmnS2RUxnesBQy5XpQKu9AflK+crffP/qhO48VG8is6Fu8/21rjKCsozY+pn
                                        6frLicTLRoTLgZdadRPPiXwFzfTnX5AF3peJ9EDo5KZhWDmd09ww9/hlQ8DquXUWIkGm
                                        q6kCgYEA+LNzGb00y/Hhkt5LjPXSxgmMpLtGBXdOsLF3oRyZFK9wV/SFdSGkyjlbdLS4
                                        52Xy6VFvbPCO/R4yPZqhZQSuv0Nb+j7OSfpSEwi95FimPxpt55Q32pYRzKIUZh9M3JiH
                                        1lWxwqAyz++hotvMvFfiAPcn7HXYx9S2A4IK7ZOweMsCgYAf9S0oBUR6lKxwywB7Z8S/
                                        n4FF3viThZkjW46ZcLrbcsCwV57WhpfNwaMjEJnTzSLMIDKXVd2TJBzYe021MME5i10Y
                                        keH/yWkT0ozjCdx6zvv3FMx40yWWrycxfvW7KSdlOacWmKrk3l0ty//Oaui/j3+Qam6C
                                        Ya9mdQ2U6nNpqQKBgH1xBf1VkevMdRq/RRw0YbvB1U7Bpu/a3bYBzXVWF2B3nRLAIxCR
                                        h6z4gUi8XwdYRM2qZaltLLI/KNgpxn5Nfla6gwoV47csq3kuT5l9nVz217iW6hU23IN6
                                        vQ9Fel9KEDnrv12LsBVxqPWcKAhXy4bxIxIB3vXsNGJQlXJ/q+NBAoGALdk/QrMI7LwX
                                        bMUQckUAMim9TIUJlKIw6oBDYCSFWmzjB7Spvbw6nnPy4j4D/zBGA3DzYSmazR+svmQ0
                                        F3N8oO6vP/KtKum1AEnR+bA6RyDJP9k5dSrbmLj+9qkH0BcAqgEo3eUivimzCeD1XQ+E
                                        PdarfCnTsfxXDqVt/2HWYOU=
                                        </data>
                                </dict>
                                <key>handles</key>
                                <array>
                                        <string>mailto:jerrylandgreen@copper.jjtech.dev</string>
                                        <string>mailto:cooper@copper.jjtech.dev</string>
                                </array>
                                <key>registered_at_s</key>
                                <integer>1755894500</integer>
                                <key>data_hash</key>
                                <integer>5591053237194338696</integer>
                        </dict>
                        <key>com.apple.private.alloy.facetime.multi</key>
                        <dict>
                                <key>id_keypair</key>
                                <dict>
                                        <key>cert</key>
                                        <data>
                                        MIIHFzCCBf+gAwIBAgIRAIqrKGt/lhHwE4CWf3+f/RAwDQYJKoZIhvcNAQEFBQAwbjEL
                                        MAkGA1UEBhMCVVMxEzARBgNVBAoMCkFwcGxlIEluYy4xEjAQBgNVBAsMCUFwcGxlIElE
                                        UzERMA8GA1UEDwwIaWRlbnRpdHkxIzAhBgNVBAMMGkFwcGxlIElEUyBJZGVudGl0eSBD
                                        QSAtIFIxMB4XDTI1MDgyMjIwMjgxNloXDTI1MTAwNjIwMjgxOVowgfgxCzAJBgNVBAYT
                                        AlVTMRMwEQYDVQQKDApBcHBsZSBJbmMuMS8wLQYDVQQLDCZjb20uYXBwbGUucHJpdmF0
                                        ZS5hbGxveS5mYWNldGltZS5tdWx0aTEOMAwGA1UEDwwFZHMtaWQxHTAbBgoJkiaJk/Is
                                        ZAEBDA1EOjIxNjM1ODM2MDEyMXQwcgYDVQQFE2tiOjJFNUQ3QjVCNDlGRTVFMjNCOEZG
                                        M0I0M0NFMzlGOTY5OTM1ODIxRkIvQ0NFQkRDMzg0NzE5QzcyODlCRjM2RDgzRUVGQTA2
                                        NTE3RDFDRjJCNTE4RjZDMDdEMDhFOTJCNEM1NzdGQzE4QjCCASIwDQYJKoZIhvcNAQEB
                                        BQADggEPADCCAQoCggEBAPKowuVsIXmdW22vMD/AtwhVwBLJMaHk+i+M2Xc0/cuZkzr+
                                        fkILEg4Ca9n6Pzx5GnbtbXfal2SY86Hsjs68QDdw5nP/8O+KtZaSWLtjCGf2GZDY0UO6
                                        royuFcDqJpaH8pXAa4EHPOPj2G2TJOHNocEfFJKZDFkv2jDu6t7Y7R/+hXP0vCDpHOSe
                                        UQWuLOGyALqDw8bJ27gvV5pLHKMLYxXd6G7WueAsT1xfSJlCnQw7Pfvjz2P/vaZT6LBo
                                        vnLHL4+dFinoiq6lrWH+jyMf0M6pbNEbx9skRpj6fIE1+kyV++KZbcJxiROXxA72i26k
                                        MZFg7Wscd9pYRkv4jT7RVwMCAwEAAaOCAyMwggMfMIICmwYDVR0RBIICkjCCAo6GJ21h
                                        aWx0bzpqZXJyeWxhbmRncmVlbkBjb3BwZXIuamp0ZWNoLmRldoYfbWFpbHRvOmNvb3Bl
                                        ckBjb3BwZXIuamp0ZWNoLmRldqAvBgoqhkiG92NkBgQGAyEAzOvcOEcZxyib822D7voG
                                        UX0c8rUY9sB9COkrTFd/wYugIAYKKoZIhvdjZAYECAMSAACKqyhrf5YR8BOAln9/n/0Q
                                        oCwGCiqGSIb3Y2QGBAQDHgADAAAAAgAAAAMAAAABAAAAAQAAAAAAAAZoAAAAAKCCAb8G
                                        CiqGSIb3Y2QGBAcDggGvAEZVU1AAphlaI8asNDtP/3aWC3ZJKEGnXkBWZZ95nlY0/g4x
                                        HNRBYysBUHY2dRbgbIFjuZdo3yvLch5+8r3MJZ7xx+1EEYN91zmelt3E1bbrhAIUHhv8
                                        BJdM1lxwhdS1qNeuXdDPfPgmhrEDSiFmze7XGa2nKtwujbS7/Z040FgaYPiXCIWESPl2
                                        JYYWIhpnFZldR5+beK55ZhtiR6PWgNNa/GKINrQ6F4UJ8lcFUJoiqk08V0MZ46MlnGon
                                        KQQeWy9QU+6FmW6b4IvZzXlS3Zv1+FCt7io+EI/sQZI9w8dRA7WQGMYRLsMm/3owVid2
                                        Q+Efp7V+EYypEUHzIpli2gNuffi7d/6PKog8P+qSekIuQTlQe0waJTjZqdrukCxw4i01
                                        QdvG3aYgIiha0yYQ4c0TLS7gX3F+TbgiJK1OhJyeZK5R+jio2vntMv1E6LLZSCIOHFTx
                                        FvaJ1VqfCLV/eYaN/kNle4eBA/fCez8K7rRG64sxJSfIP30JenMu2PCByuqBJbvvYiKD
                                        3CXxqZL1tHo9qNljBHugCF3iFmWSAPRq1yBjxUq3I1KR5xs4FBcwHwYDVR0jBBgwFoAU
                                        xntpvknAQQ7AyKsyMjjkP5FAi9owHQYDVR0OBBYEFEvWrG2my9OCBzsGe5zML1lqA4Ij
                                        MAwGA1UdEwEB/wQCMAAwDgYDVR0PAQH/BAQDAgP4MCAGA1UdJQEB/wQWMBQGCCsGAQUF
                                        BwMBBggrBgEFBQcDAjANBgkqhkiG9w0BAQUFAAOCAQEAB8oyZyt10W6oZBX3izxv8QZI
                                        RKnPNq1DfEKBL7L7Cx5THMMdovSCY6punVacetKOyFhnsvY4HSb8B+jbyKe+4iZk3Kq8
                                        L1lDCvIqXYe5BGfkm5KB7DALM93RvthrQM8/MDdRyp6Jn9mQLuTWRLBXToZJlqHUMSRz
                                        bOsMAEphBq9xHPqdhcgkuUdddRNduA7yj1KdbTN7Du8GDYTKDL33CckZdKbJ3tRHIm0X
                                        9+IhFw4zvHEb+5k+XpnJlej4pqEu6mX2pHWwVig2nQS8eNNFrJReIuDfb8d3Mg+FJMfO
                                        i7YUaI/Drys9B78J5JKphBz8b2z9XI+JIM30fDvjoik8Mg==
                                        </data>
                                        <key>private</key>
                                        <data>
                                        MIIEogIBAAKCAQEA8qjC5WwheZ1bba8wP8C3CFXAEskxoeT6L4zZdzT9y5mTOv5+QgsS
                                        DgJr2fo/PHkadu1td9qXZJjzoeyOzrxAN3Dmc//w74q1lpJYu2MIZ/YZkNjRQ7qujK4V
                                        wOomlofylcBrgQc84+PYbZMk4c2hwR8UkpkMWS/aMO7q3tjtH/6Fc/S8IOkc5J5RBa4s
                                        4bIAuoPDxsnbuC9XmkscowtjFd3obta54CxPXF9ImUKdDDs9++PPY/+9plPosGi+cscv
                                        j50WKeiKrqWtYf6PIx/Qzqls0RvH2yRGmPp8gTX6TJX74pltwnGJE5fEDvaLbqQxkWDt
                                        axx32lhGS/iNPtFXAwIDAQABAoIBADSCQ0ZM60N7Qw0Nk0XAaHrzv0/xXH2ZZHAErQwo
                                        GeFEVsE1z9FvvtTsPjVZevSVih4BC6abVRZOKK45178xqj20/xFL6XGUVO4DthK6f9er
                                        P+YBnOroixvjEc8AfCAnw90W2cx+afUwWSWA6UK5cg6tsJB2cN8dxTvAf2+AhnNc/tqv
                                        CWxbVYVPFiMPTHnI9tu4SV1PEOOaRfooLWMLy/yB6DyIKFvuWfhdh/mUkkA5WdlEPTm8
                                        mWzQOp6K7iJGpyqcEbQs+jWzCcRbwAFQuePcqJ3Cnw5k2x3ew9d9JEULWV166P1813wA
                                        YcFfIaWB2FXAvF0nrksCYkPLK5a2/BkCgYEA+cfrJ05TlqSnG9uGMeUTnNgQCkQJPD4O
                                        /T4wkwPykmnS2RUxnesBQy5XpQKu9AflK+crffP/qhO48VG8is6Fu8/21rjKCsozY+pn
                                        6frLicTLRoTLgZdadRPPiXwFzfTnX5AF3peJ9EDo5KZhWDmd09ww9/hlQ8DquXUWIkGm
                                        q6kCgYEA+LNzGb00y/Hhkt5LjPXSxgmMpLtGBXdOsLF3oRyZFK9wV/SFdSGkyjlbdLS4
                                        52Xy6VFvbPCO/R4yPZqhZQSuv0Nb+j7OSfpSEwi95FimPxpt55Q32pYRzKIUZh9M3JiH
                                        1lWxwqAyz++hotvMvFfiAPcn7HXYx9S2A4IK7ZOweMsCgYAf9S0oBUR6lKxwywB7Z8S/
                                        n4FF3viThZkjW46ZcLrbcsCwV57WhpfNwaMjEJnTzSLMIDKXVd2TJBzYe021MME5i10Y
                                        keH/yWkT0ozjCdx6zvv3FMx40yWWrycxfvW7KSdlOacWmKrk3l0ty//Oaui/j3+Qam6C
                                        Ya9mdQ2U6nNpqQKBgH1xBf1VkevMdRq/RRw0YbvB1U7Bpu/a3bYBzXVWF2B3nRLAIxCR
                                        h6z4gUi8XwdYRM2qZaltLLI/KNgpxn5Nfla6gwoV47csq3kuT5l9nVz217iW6hU23IN6
                                        vQ9Fel9KEDnrv12LsBVxqPWcKAhXy4bxIxIB3vXsNGJQlXJ/q+NBAoGALdk/QrMI7LwX
                                        bMUQckUAMim9TIUJlKIw6oBDYCSFWmzjB7Spvbw6nnPy4j4D/zBGA3DzYSmazR+svmQ0
                                        F3N8oO6vP/KtKum1AEnR+bA6RyDJP9k5dSrbmLj+9qkH0BcAqgEo3eUivimzCeD1XQ+E
                                        PdarfCnTsfxXDqVt/2HWYOU=
                                        </data>
                                </dict>
                                <key>handles</key>
                                <array>
                                        <string>mailto:jerrylandgreen@copper.jjtech.dev</string>
                                        <string>mailto:cooper@copper.jjtech.dev</string>
                                </array>
                                <key>registered_at_s</key>
                                <integer>1755894500</integer>
                                <key>data_hash</key>
                                <integer>5533737722925015353</integer>
                        </dict>
                        <key>com.apple.ess</key>
                        <dict>
                                <key>id_keypair</key>
                                <dict>
                                        <key>cert</key>
                                        <data>
                                        MIIHHTCCBgWgAwIBAgIRAIqrKGx/lhHwE4CWf3+f/QEwDQYJKoZIhvcNAQEFBQAwbjEL
                                        MAkGA1UEBhMCVVMxEzARBgNVBAoMCkFwcGxlIEluYy4xEjAQBgNVBAsMCUFwcGxlIElE
                                        UzERMA8GA1UEDwwIaWRlbnRpdHkxIzAhBgNVBAMMGkFwcGxlIElEUyBJZGVudGl0eSBD
                                        QSAtIFIxMB4XDTI1MDgyMjIwMjgxNloXDTI1MTAwNjIwMjgxOVowgdoxCzAJBgNVBAYT
                                        AlVTMRMwEQYDVQQKDApBcHBsZSBJbmMuMREwDwYDVQQLDAhGYWNlVGltZTEOMAwGA1UE
                                        DwwFZHMtaWQxHTAbBgoJkiaJk/IsZAEBDA1EOjIxNjM1ODM2MDEyMXQwcgYDVQQFE2ti
                                        OjJFNUQ3QjVCNDlGRTVFMjNCOEZGM0I0M0NFMzlGOTY5OTM1ODIxRkIvQ0NFQkRDMzg0
                                        NzE5QzcyODlCRjM2RDgzRUVGQTA2NTE3RDFDRjJCNTE4RjZDMDdEMDhFOTJCNEM1NzdG
                                        QzE4QjCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAPKowuVsIXmdW22vMD/A
                                        twhVwBLJMaHk+i+M2Xc0/cuZkzr+fkILEg4Ca9n6Pzx5GnbtbXfal2SY86Hsjs68QDdw
                                        5nP/8O+KtZaSWLtjCGf2GZDY0UO6royuFcDqJpaH8pXAa4EHPOPj2G2TJOHNocEfFJKZ
                                        DFkv2jDu6t7Y7R/+hXP0vCDpHOSeUQWuLOGyALqDw8bJ27gvV5pLHKMLYxXd6G7WueAs
                                        T1xfSJlCnQw7Pfvjz2P/vaZT6LBovnLHL4+dFinoiq6lrWH+jyMf0M6pbNEbx9skRpj6
                                        fIE1+kyV++KZbcJxiROXxA72i26kMZFg7Wscd9pYRkv4jT7RVwMCAwEAAaOCA0cwggND
                                        MIICvwYDVR0RBIICtjCCArKGJ21haWx0bzpqZXJyeWxhbmRncmVlbkBjb3BwZXIuamp0
                                        ZWNoLmRldoYfbWFpbHRvOmNvb3BlckBjb3BwZXIuamp0ZWNoLmRldqAvBgoqhkiG92Nk
                                        BgQGAyEAzOvcOEcZxyib822D7voGUX0c8rUY9sB9COkrTFd/wYugIAYKKoZIhvdjZAYE
                                        CAMSAACKqyhsf5YR8BOAln9/n/0BoFAGCiqGSIb3Y2QGBAQDQgADAAAABQAAAAMAAAAB
                                        AAAAAQAAAAAAAAZoAAAAAAAAAH0AAAZoAAAAAAAAAH4AAAZoAAAAAAAAAH8AAAZoAAAA
                                        AKCCAb8GCiqGSIb3Y2QGBAcDggGvAEZVU1AA/FtA1sasNDtP/3aWC3ZJKIO71KTbOdWz
                                        HHKc65K9lZDU3Q7FQWSCS2GPf5BbVP3b85jHj/H3WWBGRBe2LCC8li1nctWIBUlJXW8i
                                        /3DZ5TGXLbliAmf938qy13oJo/WoF2hsNBL9NJ3huJjQsnwbjp1uMSBBhFO1s/ML2Gww
                                        0SUEXah0kPA2GhpfjAu/Qf7JYmX3svaIGwigf+a8xvNbzK/pcH9DBUo2UIB4SWnJRfUS
                                        xD5pJIPaD7SfE3jXXGKb2MOC0Pi82eynQCxt4IzeO/9gzlc7FOMvPoMdwf+yaWDeEqit
                                        om3FLnty18H/HiCoHxUMuKZvBxVbLvYb85HBKll1cqBn+DHinAEWwY/6NXIrycf/QfHQ
                                        W16J2KdEJ7dB+xv2aesxjF9FYoHvd9ctU9inTmZ9xUSli4Mb7up5dBmtEs6I5dPuybrh
                                        dAyItBaSUTwVLeA3BEJ+7Hn5Taw+K2CN7Qhlv60lK4Ac/+jrUYpbxwd12fJG/AsSci3C
                                        sKI//30a8JYz+SSs9YUssesTGsidW6HCHVcfFHL1qrMY2bpA5pcVbqchLTMwHwYDVR0j
                                        BBgwFoAUxntpvknAQQ7AyKsyMjjkP5FAi9owHQYDVR0OBBYEFEvWrG2my9OCBzsGe5zM
                                        L1lqA4IjMAwGA1UdEwEB/wQCMAAwDgYDVR0PAQH/BAQDAgP4MCAGA1UdJQEB/wQWMBQG
                                        CCsGAQUFBwMBBggrBgEFBQcDAjANBgkqhkiG9w0BAQUFAAOCAQEAemoN+UsGaFG+HJri
                                        QuUM7yDJrqpvs1Mroe0CvkHGbdkaPloQyId+8dxGw22txax7PuFCV7Se2Gdw3TXgu0II
                                        TRAdsIvDlbW/qvUgpwsCVHULLav4tWPKfFezoiGZQYrcY3O5etSY+Eu10da7SOw5YFLo
                                        C0WJk8Wfw1biA32twif6/K1r1AIQ1ZQ5QENLFwROmkzpMaoapx7ct4GdyaxSzWr0LAjl
                                        fylUSMqRGzyzNLCyLJKVeY54bfh2NoLyk17gO/9BSQjCRYPijojyBYeymeeJBNmZFuoR
                                        sbfS6R7HWw3XeaLxbVD7FW9Rn+6DMdCpWsqZLUyfxjTl3CGhUJFIkg==
                                        </data>
                                        <key>private</key>
                                        <data>
                                        MIIEogIBAAKCAQEA8qjC5WwheZ1bba8wP8C3CFXAEskxoeT6L4zZdzT9y5mTOv5+QgsS
                                        DgJr2fo/PHkadu1td9qXZJjzoeyOzrxAN3Dmc//w74q1lpJYu2MIZ/YZkNjRQ7qujK4V
                                        wOomlofylcBrgQc84+PYbZMk4c2hwR8UkpkMWS/aMO7q3tjtH/6Fc/S8IOkc5J5RBa4s
                                        4bIAuoPDxsnbuC9XmkscowtjFd3obta54CxPXF9ImUKdDDs9++PPY/+9plPosGi+cscv
                                        j50WKeiKrqWtYf6PIx/Qzqls0RvH2yRGmPp8gTX6TJX74pltwnGJE5fEDvaLbqQxkWDt
                                        axx32lhGS/iNPtFXAwIDAQABAoIBADSCQ0ZM60N7Qw0Nk0XAaHrzv0/xXH2ZZHAErQwo
                                        GeFEVsE1z9FvvtTsPjVZevSVih4BC6abVRZOKK45178xqj20/xFL6XGUVO4DthK6f9er
                                        P+YBnOroixvjEc8AfCAnw90W2cx+afUwWSWA6UK5cg6tsJB2cN8dxTvAf2+AhnNc/tqv
                                        CWxbVYVPFiMPTHnI9tu4SV1PEOOaRfooLWMLy/yB6DyIKFvuWfhdh/mUkkA5WdlEPTm8
                                        mWzQOp6K7iJGpyqcEbQs+jWzCcRbwAFQuePcqJ3Cnw5k2x3ew9d9JEULWV166P1813wA
                                        YcFfIaWB2FXAvF0nrksCYkPLK5a2/BkCgYEA+cfrJ05TlqSnG9uGMeUTnNgQCkQJPD4O
                                        /T4wkwPykmnS2RUxnesBQy5XpQKu9AflK+crffP/qhO48VG8is6Fu8/21rjKCsozY+pn
                                        6frLicTLRoTLgZdadRPPiXwFzfTnX5AF3peJ9EDo5KZhWDmd09ww9/hlQ8DquXUWIkGm
                                        q6kCgYEA+LNzGb00y/Hhkt5LjPXSxgmMpLtGBXdOsLF3oRyZFK9wV/SFdSGkyjlbdLS4
                                        52Xy6VFvbPCO/R4yPZqhZQSuv0Nb+j7OSfpSEwi95FimPxpt55Q32pYRzKIUZh9M3JiH
                                        1lWxwqAyz++hotvMvFfiAPcn7HXYx9S2A4IK7ZOweMsCgYAf9S0oBUR6lKxwywB7Z8S/
                                        n4FF3viThZkjW46ZcLrbcsCwV57WhpfNwaMjEJnTzSLMIDKXVd2TJBzYe021MME5i10Y
                                        keH/yWkT0ozjCdx6zvv3FMx40yWWrycxfvW7KSdlOacWmKrk3l0ty//Oaui/j3+Qam6C
                                        Ya9mdQ2U6nNpqQKBgH1xBf1VkevMdRq/RRw0YbvB1U7Bpu/a3bYBzXVWF2B3nRLAIxCR
                                        h6z4gUi8XwdYRM2qZaltLLI/KNgpxn5Nfla6gwoV47csq3kuT5l9nVz217iW6hU23IN6
                                        vQ9Fel9KEDnrv12LsBVxqPWcKAhXy4bxIxIB3vXsNGJQlXJ/q+NBAoGALdk/QrMI7LwX
                                        bMUQckUAMim9TIUJlKIw6oBDYCSFWmzjB7Spvbw6nnPy4j4D/zBGA3DzYSmazR+svmQ0
                                        F3N8oO6vP/KtKum1AEnR+bA6RyDJP9k5dSrbmLj+9qkH0BcAqgEo3eUivimzCeD1XQ+E
                                        PdarfCnTsfxXDqVt/2HWYOU=
                                        </data>
                                </dict>
                                <key>handles</key>
                                <array>
                                        <string>mailto:jerrylandgreen@copper.jjtech.dev</string>
                                        <string>mailto:cooper@copper.jjtech.dev</string>
                                </array>
                                <key>registered_at_s</key>
                                <integer>1755894500</integer>
                                <key>data_hash</key>
                                <integer>1508220850752086613</integer>
                        </dict>
                        <key>com.apple.private.alloy.multiplex1</key>
                        <dict>
                                <key>id_keypair</key>
                                <dict>
                                        <key>cert</key>
                                        <data>
                                        MIIHQzCCBiugAwIBAgIRAIqrKGp/lhHwE4CWf3+f/Q0wDQYJKoZIhvcNAQEFBQAwbjEL
                                        MAkGA1UEBhMCVVMxEzARBgNVBAoMCkFwcGxlIEluYy4xEjAQBgNVBAsMCUFwcGxlIElE
                                        UzERMA8GA1UEDwwIaWRlbnRpdHkxIzAhBgNVBAMMGkFwcGxlIElEUyBJZGVudGl0eSBD
                                        QSAtIFIxMB4XDTI1MDgyMjIwMjgxNloXDTI1MTAwNjIwMjgxOVowgfQxCzAJBgNVBAYT
                                        AlVTMRMwEQYDVQQKDApBcHBsZSBJbmMuMSswKQYDVQQLDCJjb20uYXBwbGUucHJpdmF0
                                        ZS5hbGxveS5tdWx0aXBsZXgxMQ4wDAYDVQQPDAVkcy1pZDEdMBsGCgmSJomT8ixkAQEM
                                        DUQ6MjE2MzU4MzYwMTIxdDByBgNVBAUTa2I6MkU1RDdCNUI0OUZFNUUyM0I4RkYzQjQz
                                        Q0UzOUY5Njk5MzU4MjFGQi9DQ0VCREMzODQ3MTlDNzI4OUJGMzZEODNFRUZBMDY1MTdE
                                        MUNGMkI1MThGNkMwN0QwOEU5MkI0QzU3N0ZDMThCMIIBIjANBgkqhkiG9w0BAQEFAAOC
                                        AQ8AMIIBCgKCAQEA8qjC5WwheZ1bba8wP8C3CFXAEskxoeT6L4zZdzT9y5mTOv5+QgsS
                                        DgJr2fo/PHkadu1td9qXZJjzoeyOzrxAN3Dmc//w74q1lpJYu2MIZ/YZkNjRQ7qujK4V
                                        wOomlofylcBrgQc84+PYbZMk4c2hwR8UkpkMWS/aMO7q3tjtH/6Fc/S8IOkc5J5RBa4s
                                        4bIAuoPDxsnbuC9XmkscowtjFd3obta54CxPXF9ImUKdDDs9++PPY/+9plPosGi+cscv
                                        j50WKeiKrqWtYf6PIx/Qzqls0RvH2yRGmPp8gTX6TJX74pltwnGJE5fEDvaLbqQxkWDt
                                        axx32lhGS/iNPtFXAwIDAQABo4IDUzCCA08wggLLBgNVHREEggLCMIICvoYnbWFpbHRv
                                        OmplcnJ5bGFuZGdyZWVuQGNvcHBlci5qanRlY2guZGV2hh9tYWlsdG86Y29vcGVyQGNv
                                        cHBlci5qanRlY2guZGV2oC8GCiqGSIb3Y2QGBAYDIQDM69w4RxnHKJvzbYPu+gZRfRzy
                                        tRj2wH0I6StMV3/Bi6AgBgoqhkiG92NkBgQIAxIAAIqrKGp/lhHwE4CWf3+f/Q2gXAYK
                                        KoZIhvdjZAYEBANOAAMAAAAGAAAABQAAAAEAAAABAAAAAAAABmgAAAAAAAAArAAABmgA
                                        AAAAAAAAsAAABmgAAAAAAAAAgQAABmgAAAAAAAAAPgAABmgAAAAAoIIBvwYKKoZIhvdj
                                        ZAYEBwOCAa8ARlVTUAAg+m8/xqw0O0//dpYLdkko+YVwqOl5zfdWwpyrQM52jna2QQz7
                                        iJV3txw5kmpU4Oa2WeKsl9YLRRtrhRH8g0amsSNWGOUw6H37Na4NdI9crmjuRw7/Aj8R
                                        lzizr50aYXLAD4y8UQEtCPbxHpcDpukJoDmy95T4oBLVdvQNK1IS2vDp7uk61k3DFkK/
                                        AshhYtKDOwvfrvUpf5DeNWmQNvH81hqKFMgiZtCw3S3/L4lsxyy8AEb+A63Ie2HOJV+L
                                        OSRk5ziTSLwGohg3MWNVvQGrAwuLnwlNyZQ6yvcb3etLfP7zxz9jtx/2GU+eS/wdDC4q
                                        55CSNQ6kr9/6M7y3YRHh3GuZ6H8uY3bFxMgDaVRNEkJfEsTbzDcm023OJJuAWeMRxEif
                                        HYVphzqDSA5mXkjPpBRUZHitQ4UXknYTRA9fMrf4UX20Bqu/cy2Mqk7yizbiGk5J5dg1
                                        mdLAbwqwu8n5J5FZp4GROgUQ6SdPTr73SYu8lk88o6izFr7uVlDa0h31FOxvjkgj/o/g
                                        A7pst+3ONheFbj3Bmfc6dnH31QIj9Nt4/d9WZYFGXTAfBgNVHSMEGDAWgBTGe2m+ScBB
                                        DsDIqzIyOOQ/kUCL2jAdBgNVHQ4EFgQUS9asbabL04IHOwZ7nMwvWWoDgiMwDAYDVR0T
                                        AQH/BAIwADAOBgNVHQ8BAf8EBAMCA/gwIAYDVR0lAQH/BBYwFAYIKwYBBQUHAwEGCCsG
                                        AQUFBwMCMA0GCSqGSIb3DQEBBQUAA4IBAQA8kXUeYwWiGgGOiqZ36R/wTzNQgm0ohvpD
                                        eXMcmmoVdd5G4e+QPzLVj4xTBUC3+7UmxZzhfDn3sYccw4c2bDmOnY5bIFpLqQJuz7Kd
                                        waNkltOGtA6cGJYzbBfUF1m+c0qxVPjg78NQXg3ZfROqTp94rymauiK3qT64X7UxrYDo
                                        D0NS7pk34N6whN5Eej3lLdEWAPl2zx912iZV3r4oiyj/8YQ3N2reJ+wlxOZ3GVPZR0mQ
                                        gidbKpT8PCUOq+h89zQ65cW6il8WV4TCTTTQTGaoQ0oh0zVqFtRmmJk/T9zALSfMvnr1
                                        Op/kfUXZ9R40IRI6+vDKkHPPTaqKfpdxP2in
                                        </data>
                                        <key>private</key>
                                        <data>
                                        MIIEogIBAAKCAQEA8qjC5WwheZ1bba8wP8C3CFXAEskxoeT6L4zZdzT9y5mTOv5+QgsS
                                        DgJr2fo/PHkadu1td9qXZJjzoeyOzrxAN3Dmc//w74q1lpJYu2MIZ/YZkNjRQ7qujK4V
                                        wOomlofylcBrgQc84+PYbZMk4c2hwR8UkpkMWS/aMO7q3tjtH/6Fc/S8IOkc5J5RBa4s
                                        4bIAuoPDxsnbuC9XmkscowtjFd3obta54CxPXF9ImUKdDDs9++PPY/+9plPosGi+cscv
                                        j50WKeiKrqWtYf6PIx/Qzqls0RvH2yRGmPp8gTX6TJX74pltwnGJE5fEDvaLbqQxkWDt
                                        axx32lhGS/iNPtFXAwIDAQABAoIBADSCQ0ZM60N7Qw0Nk0XAaHrzv0/xXH2ZZHAErQwo
                                        GeFEVsE1z9FvvtTsPjVZevSVih4BC6abVRZOKK45178xqj20/xFL6XGUVO4DthK6f9er
                                        P+YBnOroixvjEc8AfCAnw90W2cx+afUwWSWA6UK5cg6tsJB2cN8dxTvAf2+AhnNc/tqv
                                        CWxbVYVPFiMPTHnI9tu4SV1PEOOaRfooLWMLy/yB6DyIKFvuWfhdh/mUkkA5WdlEPTm8
                                        mWzQOp6K7iJGpyqcEbQs+jWzCcRbwAFQuePcqJ3Cnw5k2x3ew9d9JEULWV166P1813wA
                                        YcFfIaWB2FXAvF0nrksCYkPLK5a2/BkCgYEA+cfrJ05TlqSnG9uGMeUTnNgQCkQJPD4O
                                        /T4wkwPykmnS2RUxnesBQy5XpQKu9AflK+crffP/qhO48VG8is6Fu8/21rjKCsozY+pn
                                        6frLicTLRoTLgZdadRPPiXwFzfTnX5AF3peJ9EDo5KZhWDmd09ww9/hlQ8DquXUWIkGm
                                        q6kCgYEA+LNzGb00y/Hhkt5LjPXSxgmMpLtGBXdOsLF3oRyZFK9wV/SFdSGkyjlbdLS4
                                        52Xy6VFvbPCO/R4yPZqhZQSuv0Nb+j7OSfpSEwi95FimPxpt55Q32pYRzKIUZh9M3JiH
                                        1lWxwqAyz++hotvMvFfiAPcn7HXYx9S2A4IK7ZOweMsCgYAf9S0oBUR6lKxwywB7Z8S/
                                        n4FF3viThZkjW46ZcLrbcsCwV57WhpfNwaMjEJnTzSLMIDKXVd2TJBzYe021MME5i10Y
                                        keH/yWkT0ozjCdx6zvv3FMx40yWWrycxfvW7KSdlOacWmKrk3l0ty//Oaui/j3+Qam6C
                                        Ya9mdQ2U6nNpqQKBgH1xBf1VkevMdRq/RRw0YbvB1U7Bpu/a3bYBzXVWF2B3nRLAIxCR
                                        h6z4gUi8XwdYRM2qZaltLLI/KNgpxn5Nfla6gwoV47csq3kuT5l9nVz217iW6hU23IN6
                                        vQ9Fel9KEDnrv12LsBVxqPWcKAhXy4bxIxIB3vXsNGJQlXJ/q+NBAoGALdk/QrMI7LwX
                                        bMUQckUAMim9TIUJlKIw6oBDYCSFWmzjB7Spvbw6nnPy4j4D/zBGA3DzYSmazR+svmQ0
                                        F3N8oO6vP/KtKum1AEnR+bA6RyDJP9k5dSrbmLj+9qkH0BcAqgEo3eUivimzCeD1XQ+E
                                        PdarfCnTsfxXDqVt/2HWYOU=
                                        </data>
                                </dict>
                                <key>handles</key>
                                <array>
                                        <string>mailto:jerrylandgreen@copper.jjtech.dev</string>
                                        <string>mailto:cooper@copper.jjtech.dev</string>
                                </array>
                                <key>registered_at_s</key>
                                <integer>1755894500</integer>
                                <key>data_hash</key>
                                <integer>4756997147551586280</integer>
                        </dict>
                </dict>
                <key>user_type</key>
                <string>Apple</string>
                <key>protocol_version</key>
                <integer>1640</integer>
        </dict>
</array>
</plist>